[Unit]
Description=Monitor transactions for Factoid address %I

;; Uncomment the following if you have a systemd service managing
;; factom-walletd.
;Requires=factom-walletd.service
;After=factom-walletd.service

[Service]
; Set this to the node_modules folder with the depencies installed.
Environment="NODE_PATH=/usr/lib/node_modules/"

; Set additional CLI opts in this optional file.
EnvironmentFile=-/etc/default/factoid-address-monitord

; Set the path to the factoid-address-monitord script and the output directory
; for CSV files.
ExecStart=/usr/bin/factoid-address-monitord --address %I --file /var/db/factoid-address-monitord/%I.csv $FACTOID_ADDRESS_MONITORD_OPTS

Restart=always

[Install]
WantedBy=default.target
